@import url('https://fonts.googleapis.com/css?family=Rubik');


$home-body-color:rgb(244, 244, 248);// #F0DCD1;
$font-family:Rubik;
$home-background-color:rgb(214, 213, 243);
$font-size: 2rem;
$font-size-para:1.25rem;
$menu-color:#4F4FC4;//#663399;
$font-home-color:rgb(88, 87, 87);
$menu-link-color:#fff;
$menu-hover-color:#ffa500;